
.availableCountry:hover {
	fill: yellow;
}
/*.nonAvailableCountry:hover {
	fill: black;
}*/
.availableCountry {
	fill: red;
}
.nonAvailableCountry {
	fill: white;
}
.d3-tip {
    /*line-height: 5;*/
    padding-left: 10px;
    padding-right: 10px;
    min-width: 400px;
    border-style: groove;
    /*padding: 12px;*/
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}
.d3-tip.e:after {
    content: "\26A0";
    /*margin: -4px 0 0 0;*/
    top: -800px;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    /*margin: 4px 0 1px 0;*/
    top: -8px;
    left: 1481px;
    text-align: center;
}